.item {
  text-decoration: none;
  color: white;
}

.navigation {
  position: sticky;
  margin: 0 25px 0 30px;
  padding: 36px 16px;
  width: 80px;
    background-color: #0389c9;
    text-align: center;
    height: max-content;
    border-radius: 5px;
    position: sticky;
    z-index: 2;
    top: 100px;
    margin-bottom: 30px;
    min-height: 2000px;
}

.active {
  text-decoration: none;
  color:white;
  text-shadow: 4px 4px 5px #363068;
}
